<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Sean Becker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Profile</title>
    </head>
    <body>
        <% include ./includes/header.ejs %>
        <div class="d-flex flex-wrap justify-content-center">
            <!--User details-->
            <div class="card" style="max-height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">Profile Details</h5>
                    <p class="card-text">This is all the information we have about you.<p>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: <%=user.name%></li>
                        <li class="list-group-item">Facebook ID: <%=user.facebook_id%></li>
                    </ul>
                </div>
            </div>
            <!--Favorite shows-->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Favorite Shows</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Show</th>
                                <th scope="col">Provider</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Show 1</td>
                                <td scope="row">Netflix</td>
                            </tr>
                            <tr>
                                <td scope="row">Show 2</td>
                                <td scope="row">Hulu</td>
                            </tr>
                            <tr>
                                <td scope="row">Show 3</td>
                                <td scope="row">HBO Go</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>